<!doctype html>
<html>
<body>
  <head>
    <title>ยก Express yourself !</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Nothing+You+Could+Do|Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>

  <div class="container">

    <div class="jumbotron text-center">
        <h1>ยก Express yourself !</h1>

        <p>Let's write</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Welcome Back</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Create</a>

    </div>

  </div>
</body>
</html>
